*.o
/server
*.sublime*
/key
SpeedBlocks-server
Makefile
/Challenges/*
!/Challenges/challenges.list
/Tournaments/*
!/Tournaments/.gitkeep
**/*.exe
.vscode

# Cmake stuff
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
